:root {
  --color1: #f2f2f2;
  --color2: #f2f2f2;
  --color3: #cce4fa;
  --color4: #69a3ea;
  --color5: #3075cf;
  --color6: #3056b5;
  --color7: #304591;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html, body, #sigma-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header {
  background-color: var(--color6);
  color: whitesmoke;
  padding: 1em;
}

li {
  margin: 0.5em 0;
}

#topic-container, #topic-menu {
  background-color: var(--color1);
  padding: 1em;
}

#graph-menu, #info {
  padding: 1em; 
}

.tooltip {
  font-weight: bold;
  position: relative;
  cursor: help;
  border-bottom: 1px dotted #888;
}

.tooltip-box {
  position: absolute;
  display: none;
  background: #d7d3d3;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 1000;
  font-size: 1em;
  max-width: 350px;
  box-shadow: 0 2px 8px rgba(144, 140, 140, 0.2);
  white-space: normal;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    'header graph-menu'
    'topic-menu graph'
    'topic graph'
    'topic info';
  grid-template-columns: 45% 55%;
  grid-template-rows: max-content max-content 1fr max-content;
}

button, label {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color7);
  background-color: var(--color3);
  display: inline-block;
  border-radius: 0.6em;
  border-color: var(--color4);
  padding: 0.3em 0.5em 0.3em 0.3em;
  text-align: center;
  border-width: 2px;
  border-style: outset;
}

button:hover, label:hover {
  color: var(--color6);
  background-color: var(--color2);
}

button:disabled {
  color: var(--color4);
  background-color: var(--color1);
  border-color: var(--color3);
}

.tabs button {
  border-radius: 0;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom: 0;
  padding: 0.5em 0.5em 0.4em 0.5em;
}

.tabs .active {
  /* height: 45px; */
  border-bottom: none;
  background: var(--color1);
}

#graph-menu .menu-icon, #topic-menu .menu-icon, #topic .menu-icon {
  height: 1.2em;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  height: 0px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown-content button, .dropdown-content label {
  font-size: 1em;
  border-radius: 0em;
}

.dropdown:hover .dropdown-content {
  display: block;
  height: 300px;
}

hr {
  border: 0;
  border-top: 1px solid var(--color6);
}
